aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
certifi==2020.6.20
chardet==3.0.4
discord.py==1.7.3
distlib==0.3.1
filelock==3.0.12
idna==2.10
multidict==6.0.2
peewee==3.15.0
pipenv==2020.8.13
pycosat==0.6.3
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
typing_extensions==4.2.0
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
yarl==1.7.2
